body {
    margin: 0;
    font-family: Arial;
    background: #f3f4f6; /* светло-серый */
    color: #1f2933;
}

/* контейнер */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

/* header */
header {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

.hero h1 {
    font-size: 36px;
}

.hero-images img {
    width: 120px;
    border-radius: 15px;
    margin-left: 10px;
}

/* секции */
.section {
    padding: 50px 40px;
}

/* карточки */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.04);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* новости */
.news {
    display: flex;
    gap: 20px;
}

.news img {
    width: 300px;
    border-radius: 12px;
}

/* счетчики */
.counter-box {
    background: #4b5563; /* темно-серый */
    color: white;
    padding: 25px;
    border-radius: 12px;
    font-size: 28px;
}

/* FAQ */
.faq-item {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

/* комментарии */
.comment-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #374151;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1f2937;
}